@require variables
@require nib

// angular-parallax
.background
    position relative
    background-attachment fixed
    background-repeat no-repeat

.home-background
    height calc(100vh - 50px)
    background-image url('img/campus_skyview.jpg')
    background-size cover

.home-banner
    padding 3vh 0
    margin-top 20vh
    min-hight 500px
    text-align center
    background-color rgba(RPO_blue, .75)

    h1, h2, h3, h4, h5, h6, p
        color RPO_white

.home-footer
    background-color RPO_blue
    margin-top 20px

    a, p
        color RPO_white

    .footer-col
        padding 10px

.important
    text-align center
    font-weight 700

// categories on home page
.category-box
    background-color RPO_blue
    padding 0 10px
    border 2px solid white
    border-radius 10px

    .category-title
        text-align center

    .category-title, p
        color RPO_white

.sub-category
    padding 0 10%
    text-align center

.events
    // padding 0 30%
    display block
    margin-right auto
    margin-left auto
    max-width 800px

    .events-title
        text-align center

.event
    padding-bottom 10px

    .event-image
        display block
        margin-left auto
        margin-right auto
        width 80%
        max-width 20vw
        background-color darken(RPO_grey, 50%)
        border 10px solid RPO_white

    .event-description
        text-align center
