.background.home-background(parallax-background parallax-ratio='0.5')
    .container-fluid
        .row.home-banner
            img(src='img/logo_white.png' width='400' alt='<h2>Rensselaer Pokemon Organization</h2>')
            h4 A place to foster creativity
.background(parallax-background parallax-ratio='1')
    .container-fluid
        .row
            .col-md-4
                .category-box
                    h2.category-title Learn
                    p.
                        On of the goals we have at RPO is creating an environment
                        that welcomes both people new to the game, as well as
                        hardened veterans. Our club can help you breed, and EV
                        train your Pokemon.
                    
            .col-md-4
                .category-box
                    h2.category-title Train
                    p.
                        Rensselaer Pokemon Organization is filled with experienced
                        players that have a wealth of knowledge to help you. We
                        know the techniques, and you know your Pokemon. We want 
                        to help you become a better trainer, and maybe make 
                        some friends along the way.               
            .col-md-4
                .category-box
                    h2.category-title Compete
                    p.
                        We hold a variety of tournaments throughout the year, 
                        and smaller ones at nearly every meeting. Some of the cool
                        event we do include a Pokemon League
