.background.home-background(parallax-background parallax-ratio='0.5')
    .container-fluid
        .row.home-banner
            img(src='img/logo_white.png' width='400' alt='<h2>Rensselaer Pokemon Organization</h2>')
            h4 A place to foster creativity
            
.background(parallax-background parallax-ratio='1')
    .container-fluid
        .important
            h2 Meetings every Saturday from 6 pm to 8 pm in the Phalanx Room!
        .row
            .col-md-4
                .category-box
                    h2.category-title Learn
                    p.
                        On of the goals we have at RPO is creating an environment 
                        that welcomes both people new to the game, as well as 
                        hardened veterans. Our club can help you breed, and EV 
                        train your Pokemon.
                    
            .col-md-4
                .category-box
                    h2.category-title Train
                    p.
                        Rensselaer Pokemon Organization is filled with experienced 
                        players that have a wealth of knowledge to help you. We 
                        know the techniques, and you know your Pokemon. We want 
                        to help you become a better trainer, and maybe make 
                        some friends along the way.               
            .col-md-4
                .category-box
                    h2.category-title Compete
                    p.
                        We hold a variety of tournaments throughout the year, 
                        and smaller ones at nearly every meeting. Some of the cool 
                        events we do include an Autumn Pokemon League, a Spring 
                        Battle Frontier, and a charity tournament!
                        
        br
        .events
            h2.events-title Events On Rotation
            .well.event
                .row
                    .col-md-4
                        img.event-image.img-circle(src='/img/pokemon/blissey.png')
                            
                    .col-md-8.event-description
                        h3 OU Tournament
                        p.
                            Always one of the more popular events, we run 
                            a tournament on Pokemon Showdown that follows the 
                            Smogon OU metagame rules. This event is great for 
                            beginners to the competitive scene because of the 
                            low cost barrier and common tier rules!
                            
            .well.event
                .row
                    .col-md-8.event-description
                        h3 Competitive Workshops
                        p.
                            Our workshops aim to expand our members' knowledge 
                            of the current metagame, and show them new 
                            playstyles and ways to win. In addition, we hold 
                            introductory workshops to educate newcommers to the 
                            game how to play, and how to play well.
                    
                    .col-md-4
                        img.event-image.img-circle(src='/img/pokemon/talonflame.png')
                            
            .well.event
                .row
                    .col-md-4
                        img.event-image.img-circle(src='/img/pokemon/gallade-mega.png')
                    
                    .col-md-8.event-description
                        h3 Console Tournament
                        p.
                            We host a variety on console tournaments throughout 
                            the year, with the theme changing each time. Formats 
                            we use include: OU, Ubers, Doubles, Triples, 
                            Multibattle, and more!
                            
            .well.event
                .row
                    .col-md-8.event-description
                        h3 Anime Screening
                        p.
                            Although not as often as our other events, we screen 
                            episodes of the anime and movies for the wider 
                            audience of the club. This usually happens outside 
                            of the usual meeting time.
                            
                    .col-md-4
                        img.event-image.img-circle(src='/img/pokemon/pikachu.png')
