div(ui-view='navbar')
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle(ng-init='navbarCollapsed=true', ng-click='navbarCollapsed = !navbarCollapsed')
                    i.fa.fa-lg.fa-bars
    
                a.navbar-brand(ui-sref='home.index') RPO
                
            .collapse.navbar-collapse(collapse='navbarCollapsed')
                ul.nav.navbar-nav
                    li        
                        a(ui-sref='home.blog') Blog
                    li
                        a(ui-sref='home.index') Link
                        
div(ui-view='content')
    
