div(ui-view='navbar')
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle(ng-init='navbarCollapsed=true', ng-click='navbarCollapsed = !navbarCollapsed')
                    i.fa.fa-lg.fa-bars
    
                a.navbar-brand(ui-sref='home.index', ng-click='navbarCollapsed=true') RPO
                
            .collapse.navbar-collapse(collapse='navbarCollapsed')
                //- div(ui-view='navbar-buttons')
                    ul.nav.navbar-nav
                        li        
                            a(ui-sref='home.blog', ng-click='navbarCollapsed=true') Blog
                        li
                            a(ui-sref='app', ng-click='navbarCollapsed=true') Link
                        
.home-wrapper(ui-view='content')

footer.home-footer
    .container-fluid
        .row
            .col-md-4.footer-col
                a(href='mailto:delanr3@rpi.edu') Ryan Delaney - President
                br
                a(href='mailto:kolskd@rpi.edu') David Koloski - Vice President
                br
                a(href='mailto:etzinj@rpi.edu') Justin Etzine - Treasurer
                
            .col-md-4.footer-col
                a(href='http://fb.com/RPIPokemon') 
                    i.fa.fa-lg.fa-facebook.fa-inverse
                    | &nbsp; Facebook
                
                br
                a(href='http://twitter.com/RPIPokemon')
                    i.fa.fa-lg.fa-twitter.fa-inverse
                    | &nbsp; Twitter
                    
                br
                a(href='http://github.com/rrdelaney/RPO-Website')
                    i.fa.fa-lg.fa-github.fa-inverse
                    | &nbsp; Source Code
                
            .col-md-4.footer-col
                p Version - #{version} &nbsp; Build - #{build}
