div(ui-view='navbar')
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                button.navbar-toggle(ng-init='navbarCollapsed=true', ng-click='navbarCollapsed = !navbarCollapsed')
                    i.fa.fa-lg.fa-bars
    
                a.navbar-brand(ui-sref='home.index', ng-click='navbarCollapsed=true') RPO
                
            .collapse.navbar-collapse(collapse='navbarCollapsed')
                div(ui-view='navbar-buttons')
                    ul.nav.navbar-nav
                        li        
                            a(ui-sref='home.blog', ng-click='navbarCollapsed=true') Blog
                        li
                            a(ui-sref='app', ng-click='navbarCollapsed=true') Link
                        
.home-wrapper(ui-view='content')
    
